/*
   MIXINS FOR UTILITY
*/

@mixin grid-centering {
   display: grid;
   place-items: center;
}

@mixin flex-centering {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin flex-column-centering {
   display: flex;
   flex-direction: column;
   align-items: center;
}