/*
   BACKGROUND 
*/

$bg-primary: #181823;
$bg-secondary: #3C434C;
body {
   background: $bg-primary;
}

/*
   TEXT & ICONS 
*/
$text-icon: #FADF23;
$text-secondary: #D9D9D9;
$text-primary: #FFFFFF;

/*
   BUTTON
*/
$btn-main: #CFBC30;